<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.rancho.web.db.domain.Admin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <resultMap id="AdminPasswordMap" extends="BaseResultMap" type="com.rancho.web.admin.domain.dto.admin.AdminPassword">
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <select id="getAdmins" resultMap="BaseResultMap">
        select * from admin
        <where>
            <if test="username!=null">
                and username=#{username}
            </if>
        </where>
    </select>

    <insert id="addAdmin" parameterType="com.rancho.web.db.domain.Admin" keyProperty="id" useGeneratedKeys="true">
        insert into admin (username,nickname,create_time,status,password) values (#{username},#{nickname},now(),#{status},#{password})
    </insert>

    <select id="getAdmin" resultMap="BaseResultMap">
        select * from admin where id=#{id}
    </select>

    <select id="getAdminByUsername" resultMap="BaseResultMap">
        select * from admin where username=#{username}
    </select>

    <select id="getAdminPasswordByUsername" resultMap="AdminPasswordMap">
        select * from admin where username=#{username}
    </select>

    <update id="updateAdmin" parameterType="com.rancho.web.db.domain.Admin">
        update admin
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateAdminStatus" parameterType="com.rancho.web.db.domain.Admin">
        update admin set status=#{status} where id=#{id}
    </update>

    <update id="updateAdminPassword">
        update admin set password=#{password} where id=#{id}
    </update>

</mapper>
