<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.DeployMapper">
    <resultMap id="BaseResultMap" type="com.rancho.web.db.domain.Deploy">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="server_id" jdbcType="INTEGER" property="serverId" />
        <result column="serve_id" jdbcType="INTEGER" property="serveId" />
        <result column="create_admin" jdbcType="TIMESTAMP" property="createAdmin" />
        <result column="update_admin" jdbcType="TIMESTAMP" property="updateAdmin" />
    </resultMap>

    <select id="getDeployInfos" resultType="com.rancho.web.admin.domain.dto.deploy.DeployInfo">
        SELECT
            d.id,
            d.serve_id serveId,
            d.create_time createTime,
            s.id 'serve.id',
            s.name 'serve.name'
        FROM
            deploy d
                LEFT JOIN serve s ON d.serve_id = s.id
    </select>

    <insert id="addDeploy" parameterType="com.rancho.web.db.domain.Deploy" useGeneratedKeys="true" keyProperty="id">
        insert into deploy (serve_id,create_admin,create_time)
        values (#{serveId},#{createAdmin},#{createTime})
    </insert>

    <update id="updateDeploy" parameterType="com.rancho.web.db.domain.Deploy">
        update deploy
            <set>
                <if test="serveId!=null">
                    serve_id=#{serveId},
                </if>
            </set>
            where id=#{id}
    </update>

    <delete id="deleteDeploy">
        delete from deploy where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
