<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.MenuMapper">

  <resultMap id="BaseResultMap" type="com.rancho.web.db.domain.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_hidden" jdbcType="INTEGER" property="isHidden" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>

  <select id="getAllMenus" resultMap="BaseResultMap">
    select * from menu
  </select>

  <select id="getMenus" resultMap="BaseResultMap" >
    select * from menu
  </select>

  <select id="getAdminMenus" resultMap="BaseResultMap">
    select sm.* from role sr
                    join admin_role sar on sr.id=sar.role_id and sr.status=1
                    join role_menu srm on sar.role_id=srm.role_id
                    join menu sm on srm.menu_id=sm.id
                                        where sar.admin_id=#{adminId}
  </select>

  <insert id="addMenu" parameterType="com.rancho.web.db.domain.Menu">
    insert into menu (pid,name,permission,type,uri,status,component,icon,is_hidden,sort,create_time) values (
    #{pid},
    #{name},
    #{permission},
    #{type},
    #{uri},
    #{status},
    #{component},
    #{icon},
    #{isHidden},
    #{sort},
    now()
    )
  </insert>

  <update id="updateMenu" parameterType="com.rancho.web.db.domain.Menu">
    update menu
    <set>
      <if test="pid!=null">
        pid=#{pid},
      </if>
      <if test="name!=null">
        name=#{name},
      </if>
      <if test="permission!=null">
        permission=#{permission},
      </if>
      <if test="uri!=null">
        uri=#{uri},
      </if>
      <if test="status!=null">
        status=#{status},
      </if>
      <if test="component!=null">
        component=#{component},
      </if>
      <if test="icon!=null">
        icon=#{icon},
      </if>
      <if test="isHidden!=null">
        is_hidden=#{isHidden},
      </if>
      <if test="sort!=null">
        sort=#{sort},
      </if>
    </set>
    where id=#{id}
  </update>

  <delete id="deleteMenu">
    delete from menu where id=#{id}
  </delete>

  <select id="getMenu" resultMap="BaseResultMap">
    select * from menu where id=#{id}
  </select>

  <select id="getAdminMenuPermissions" resultType="string">
    select sm.permission from role sr
                       join admin_role sar on sr.id=sar.role_id and sr.status=1
                       join role_menu srm on sar.role_id=srm.role_id
                       join menu sm on srm.menu_id=sm.id
    where sar.admin_id=#{adminId}
  </select>
</mapper>
