<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.SmsAdminMapper">
    <resultMap id="BaseResultMap" type="com.rancho.web.admin.domain.SmsAdmin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from sms_admin
        <where>
            <if test="username!=null">
                and username=#{username}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.rancho.web.admin.domain.SmsAdmin" keyProperty="id" useGeneratedKeys="true">
        insert into sms_admin (username,nickname,create_time,status,password) values (#{username},#{nickname},now(),#{status},#{password})
    </insert>

    <select id="getById" resultMap="BaseResultMap">
        select * from sms_admin where id=#{id}
    </select>

    <select id="getByUsername" resultMap="BaseResultMap">
        select * from sms_admin where username=#{username}
    </select>

    <update id="update" parameterType="com.rancho.web.admin.domain.SmsAdmin">
        update sms_admin
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateStatus" parameterType="com.rancho.web.admin.domain.SmsAdmin">
        update sms_admin status=#{status} where id=#{id}
    </update>
</mapper>
