<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.SmsAdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.rancho.web.admin.domain.SmsAdminRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="countByRoleId" resultType="int">
   select count(0) from sms_admin_role where role_id=#{roleId}
 </select>
    <insert id="save" parameterType="com.rancho.web.admin.domain.SmsAdminRole">
        insert into sms_admin_role (admin_id,role_id,create_time) values (#{adminId},#{roleId},#{createTime})
    </insert>

    <select id="list" resultMap="BaseResultMap">
        select * from sms_admin_role
        <where>
            <if test="adminId!=null">
                and admin_id=#{adminId}
            </if>
        </where>
    </select>

    <delete id="deleteByAdminId">
        delete from sms_admin_role where admin_id=#{adminId}
    </delete>
</mapper>
