<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.SmsLogMapper">
    <resultMap id="BaseResultMap" type="com.rancho.web.admin.domain.SmsLog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <result column="params" jdbcType="VARCHAR" property="params" />
        <result column="log_type" jdbcType="VARCHAR" property="logType" />
        <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="browser" jdbcType="VARCHAR" property="browser" />
        <result column="time" jdbcType="BIGINT" property="time" />
        <result column="exception_detail" jdbcType="VARCHAR" property="exceptionDetail" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from sms_log
        <where>
            <if test="username!=null">
                and username like CONCAT('%',#{username},'%')
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.rancho.web.admin.domain.SmsLog">
        insert into sms_log (username,description,method,params,log_type,request_ip,address,browser,`time`,exception_detail,create_time)
        values
        (
        #{username},
        #{description},
        #{method},
        #{params},
        #{logType},
        #{requestIp},
        #{address},
        #{browser},
        #{time},
        #{exceptionDetail},
        now()
        )
    </insert>
</mapper>
