<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rancho.web.admin.mapper.SmsRoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.rancho.web.admin.domain.SmsRoleMenu">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="menu_id" jdbcType="INTEGER" property="menuId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <insert id="save" parameterType="com.rancho.web.admin.domain.SmsRoleMenu" >
        insert into sms_role_menu (role_id,menu_id,create_time) values (#{roleId},#{menuId},#{createTime})
    </insert>

    <delete id="deleteByRoleId">
        delete from sms_role_menu where role_id=#{roleId}
    </delete>
</mapper>
